.Faq {
  padding: 30px 0 60px;
}

@media (min-width: 768px) {
  .Faq {
    padding: 40px 0 80px;
  }
}

@media (min-width: 1200px) {
  .Faq {
    padding: 60px 0 120px;
  }
}

@media (min-width: 1600px) {
  .Faq {
    padding: 80px 0 160px;
  }
}

@media (min-width: 768px) {
  .Faq__wrapper {
    display: flex;
  }
}

.Faq__title {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .Faq__title {
    flex: 0 0 30%;
  }

  .Faq__title__inline {
    display: block;
  }
}

@media (min-width: 768px) {
  .Faq__list {
    flex: 0 0 70%;
    margin-top: 8px;
  }
}

.FaqItem {
  display: flex;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(184, 184, 184, 0.4);
  position: relative;
  overflow: hidden;
  padding-top: 16px;
  cursor: pointer;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .FaqItem {
    padding-top: 24px;
  }

  .FaqItem:first-child {
    padding-top: 0;
  }
}

.FaqItem:last-child {
  border-bottom: none;
}

.FaqItem__img {
  flex: 0 0 40px;
  height: 16px;
  padding-left: 24px;
  box-sizing: border-box;
  margin-top: 6px;
}

.FaqItem__img.active {
  transform: rotate(180deg);
  padding-left: 0;
  padding-right: 24px;
}

.FaqItem__content {
  flex: 1 0;
  min-width: 0;
}

.FaqItem__content .FaqItem__text {
  display: none;
}

.FaqItem__content.active .FaqItem__text {
  display: block;
}

.FaqItem__title {
  font-family: 'SourceSansProBold', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #1B1F27;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .FaqItem__title {
    padding-bottom: 24px;
  }
}

.FaqItem:last-child .FaqItem__title {
  padding-bottom: 0;
}

.FaqItem__content.active .FaqItem__title {
  padding-bottom: 12px;
}

@media (min-width: 768px) {
  .FaqItem__content.active .FaqItem__title  {
    padding-bottom: 24px;
  }
}

.FaqItem__text {
  font-family: 'SourceSansPro', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  max-width: 560px;
  margin-bottom: 16px;
}

.FaqItem:last-child .FaqItem__text {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .FaqItem__text  {
    margin-bottom: 24px;
  }
}