.HeroImg {
  background: rgba(25,25,25,0.25) url('../../assets/img/hero-img__mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 26px 0 40px;
  min-height: 686px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .HeroImg {
    padding: 160px 0 60px;
    max-height: 860px;
    min-height: auto;
  }
}

@media (min-width: 1024px) {
  .HeroImg {
    background-image: url('../../assets/img/hero-img__banner.png');
    
  }
}

@media (min-width: 1200px) {
  .HeroImg {
    padding: 140px 0 70px;
  }
}

@media (min-width: 1600px) {
  .HeroImg {
    padding: 205px 0 98px;
  }
}

.HeroImg__wrapper {
  height: 556px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  max-width: 480px;
}

@media (min-width: 768px) {
  .HeroImg__wrapper {
    height: auto;
  }
}

@media (min-width: 1024px) {
  .HeroImg__wrapper {
    max-width: 800px;
  }
}

@media (min-width: 1600px) {
  .HeroImg__wrapper {
    max-width: 900px;
  }
}

.HeroImg__title {
  color: #fff;
  font-family: 'SquadExtraBold', sans-serif;
  font-weight: 800;
  margin-bottom: 34px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
  
}

@media (min-width: 768px) {
  .HeroImg__title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0;
  }
}

@media (min-width: 1200px) {
  .HeroImg__title {
    font-size: 56px;
    line-height: 54px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .HeroImg__title {
    font-size: 72px;
    line-height: 88px;
    margin-bottom: 42px;
  }
}

@media (min-width: 768px) {
  .HeroImg__title__inline {
    display: inline-block;
  }
}

.HeroImg__list {
  margin-bottom: 32px;
  position: relative;
  padding-left: 58px;
}

@media (min-width: 1600px) {
  .HeroImg__list {
    margin-bottom: 58px;
  }
}

.HeroImg__list__item {
  display: flex;
  margin-bottom: 26px;
}

.HeroImg__list__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 1600px) {
  .HeroImg__list__item {
    margin-bottom: 32px;
    align-items: center;
  }
}

.HeroImg__list__item__img {
  position: absolute;
  left: 0;
}

.HeroImg__list__item__text {
  font-family: 'SourceSansProBold';
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  max-width: 660px;
}

@media (min-width: 1600px) {
  .HeroImg__list__item__text {
    font-size: 32px;
    line-height: 40px;
  }
}

.HeroImg__btn {
  width: 100%;
}

@media (min-width: 768px) {
  .HeroImg__btn {
    width: auto;
  }
}

/* NAV */
.HeroImg__nav {
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 30px;
  z-index: 100;
  transition: 0.4s;
}

@media (min-width: 768px) {
  .HeroImg__nav {
    position: fixed;
    padding: 40px 0;
  }
}

@media (min-width: 1600px) {
  .HeroImg__nav {
    padding: 70px 0;
  }
}

@media (min-width: 768px) {
  .HeroImg__nav.scroll {
    padding: 24px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(25,25,25,0.25);
  }
}

@media (min-width: 1600px) {
  .HeroImg__nav.scroll {
    padding: 45px 0;
  }
}

.HeroImg__nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeroImg__nav__list {
  display: none;
}

@media (min-width: 768px) {
  .HeroImg__nav__list {
    display: flex;
    align-items: center;
  }
}

.HeroImg__nav__item__link {
  display: flex;
  height: 36px;
  align-items: center;
  margin-right: 32px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  transition: 0.4s;
}

.HeroImg__nav__item__link:hover {
  color: #6ECD4A;
}

.HeroImg__nav.scroll .HeroImg__nav__item__link {
  color: #000;
}

.HeroImg__nav.scroll .HeroImg__nav__item__link:hover {
  color: #939393;
}

.HeroImg__nav__item:last-child .HeroImg__nav__item__link {
  margin-right: 0;
}

.HeroImg__nav__link {
  position: relative;
  height: 30px;
  width: 168px;
}

.HeroImg__nav__link__img {
  position: absolute;
  top: 0;
  left: 0;
}

.HeroImg__nav__link__img--scroll {
  opacity: 0;
}

@media (min-width: 768px) {
  .HeroImg__nav.scroll .HeroImg__nav__link__img {
    opacity: 0;
  }

  .HeroImg__nav.scroll .HeroImg__nav__link__img--scroll {
    opacity: 1;
  }

  .HeroImg__nav .HeroImg__nav__link__img {
    opacity: 1;
  }

  .HeroImg__nav .HeroImg__nav__link__img--scroll {
    opacity: 0;
  }
}