.AboutAction {
  padding: 60px 0 30px;
}

@media (min-width: 768px) {
  .AboutAction {
    padding: 80px 0 0;
    margin-bottom: -40px;
  }
}

@media (min-width: 1200px) {
  .AboutAction {
    padding: 120px 0 0;
    margin-bottom: -20px;
  }
}

@media (min-width: 1600px) {
  .AboutAction {
    padding: 160px 0 0;
  }
}

.AboutAction__title {
  margin-bottom: 74px;
}

@media (min-width: 768px) {
  .AboutAction__title {
    margin-bottom: 48px;
  }
}

.AboutAction__list {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .AboutAction__list {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .AboutAction__list {
    align-items: flex-start;
    justify-content: space-between;
  }
}

.AboutActionItem {
  margin-bottom: 52px;
}

.AboutActionItem:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .AboutActionItem {
    flex: 0 0 50%;
    margin-bottom: 80px;
  }
}

@media (min-width: 1024px) {
  .AboutActionItem {
    flex: 0 0 33%;
    margin-bottom: 0;
  }
}

.AboutActionItem__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 14px;
  position: relative;
  height: 148px;
}

@media (min-width: 768px) {
  .AboutActionItem__wrapper {
    height: 190px;
  }
}

.AboutActionItem__img {
  margin-bottom: 20px;
}

@media (min-width:768px) {
  .AboutActionItem__title__inline {
    display: block;
  }
}

.AboutActionItem__text {
  max-width: 304px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'SourceSansPro', sans-serif;
  font-weight: normal;
  color: #000;
}

.AboutActionItem__text-green {
  color: #428B26;
  font-family: 'SourceSansProBold', sans-serif;
  font-weight: bold;
}

.AboutActionItem__bg {
  position: absolute;
  bottom: 10px;
  left: 70px;
}

@media(min-width: 768px) {
  .AboutActionItem__bg {
    left: 90px;
  }
}

.AboutActionItem__bg__img {
  height: 148px;
  display: block;
}
