.CalculatorTariffTabs__title {
  margin-bottom: 22px;
  font-family: 'SourceSansProBold', sans-serif;
  font-weight: 600;
  color: #939393;
}

.CalculatorTariffTabs__list {
  display: flex;
  border-bottom: 2px solid #F1F1F1;
  padding-bottom: 10px;
  margin-bottom: 34px;
  position: relative;
}

.CalculatorTariffTabs__green-line {
  display: block;
  transition: 0.4s;
  height: 4px;
  border-radius: 6px;
  background-color: #52AE30;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.CalculatorTariffTabs__item {
  font-size: 20px;
  line-height: 32px;
  font-family: 'SquadExtraBold', sans-serif;
  font-weight: 800;
  color: #494949;
  margin-right: 24px;
  cursor: pointer;
  transition: 0.4s;
}

.CalculatorTariffTabs__item:hover {
  color: #000;
}

.CalculatorTariffTabs__item.active {
  color: #000;
}

.CalculatorTariffTabs__pluses {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 58px;
}

@media (min-width: 768px) {
  .CalculatorTariffTabs__pluses {
    margin-bottom: 0;
  }
}

.CalculatorTariffTabs__pluses__item {
  display: flex;
  flex: 0 0 100%;
  margin-bottom: 24px;
  align-items: flex-start;
}

.CalculatorTariffTabs__pluses__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .CalculatorTariffTabs__pluses__item {
    flex: 0 0 50%;
  }
}

@media (min-width: 992px) {
  .CalculatorTariffTabs__pluses__item {
    flex: 0 0 33%;
    margin-bottom: 0;
  }
}

.CalculatorTariffTabs__pluses__item__img {
  width: 24px;
  margin-right: 16px;
}

.CalculatorTariffTabs__pluses__item__text {
  font-family: 'SourceSansPro', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}