.CalculatorInfoPanel {
  padding: 40px;
  box-shadow: 0px 16px 48px rgba(73, 92, 136, 0.15);
  border-radius: 32px;
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
}

.CalculatorInfoPanel__title {
  font-family: 'SquadExtraBold', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #000;
}

.CalculatorInfoPanel__date {
  font-family: 'SourceSansProBold', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 32px;
}

.CalculatorInfoPanel__list {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .CalculatorInfoPanel__list {
    margin-bottom: 40px;
  }
}

.CalculatorInfoPanel__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .CalculatorInfoPanel__item {
    margin-bottom: 16px;
  }
}

.CalculatorInfoPanel__item:last-child {
  margin-bottom: 0;
}

.CalculatorInfoPanel__item__title {
  font-family: 'SourceSansProBold', sans-serif;
  font-weight: bold;
  color: #939393;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.CalculatorInfoPanel__item__text {
  font-family: 'SquadExtraBold', sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  white-space: nowrap;
}

.CalculatorInfoPanel__item__text--big {
  color: #428B26;
  font-size: 24px;
}

.CalculatorInfoPanel__btn {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 1024px) {
  .CalculatorInfoPanel__btn {
    width: auto;
  }
}

.CalculatorInfoPanel__info {
  font-family: 'SourceSansPro', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-top: 18px;
  color: #494949;
}

@media (min-width: 768px) {
  .CalculatorInfoPanel__info {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
  }
}
