.Calculator {
  padding: 30px 0;
}

@media (min-width: 768px) {
  .Calculator {
    padding: 40px 0 22px;
  }

}
@media (min-width: 1200px) {
  .Calculator {
    padding: 60px 0 42px;
  }
}
@media (min-width: 1600px) {
  .Calculator {
    padding: 80px 0 62px;
  }
}

.Calculator__title {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .Calculator__title {
    margin-bottom: 48px;
    max-width: 480px;
  }

  .Calculator__title__inline {
    display: inline-block;
  }
}

.Calculator__sub-title {
  font-size: 16px;
  line-height: 24px;
  color: #494949;
  font-family: 'SourceSansPro', sans-serif;
  font-weight: normal;
}

.Calculator__main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .Calculator__main {
    flex-direction: row;
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  .Calculator__main {
    flex-direction: row;
    margin-top: 0;
  }
}

.Calculator__left {
  flex: 1 0;
  min-width: 0;
}

@media (min-width: 768px) {
  .Calculator__left {
    min-width: 340px;
  }
}

@media (min-width: 992px) {
  .Calculator__left {
    margin-top: 104px;
  }
}

.Calculator__rigth {
  flex: 1 0;
  margin-top: 18px;
}

@media (min-width: 768px) {
  .Calculator__rigth {
    min-width: 340px;
    max-width: 450px;
    padding-left: 20px;
    margin-top: 0;
    box-sizing: border-box;
  }
}

@media (min-width: 992px) {
  .Calculator__rigth {
    padding-left: 110px;
    margin-top: 48px;
  }
}