.Calculator {
  padding: 40px 0;
}

.Calculator__title {
  margin-bottom: 24px;
  max-width: 320px;
}

@media (min-width: 768px) {
  .Calculator__title {
    margin-bottom: 48px;
    max-width: 100%;
  }
}

.Calculator__sub-title {
  font-size: 16px;
  line-height: 24px;
  color: #494949;
  font-family: 'SourceSansPro', sans-serif;
  font-weight: normal;
}

.Calculator__main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .Calculator__main {
    flex-direction: row;
  }
}

.Calculator__left {
  flex: 1 0;
  min-width: 0;
}

@media (min-width: 768px) {
  .Calculator__left {
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  .Calculator__left {
    margin-top: 104px;
  }
}

.Calculator__rigth {
  flex: 1 0;
  margin-top: 18px;
}

@media (min-width: 992px) {
  .Calculator__rigth {
    max-width: 408px;
    min-width: 320px;
    margin-top: 50px;
    margin-left: 110px;
  }
}