.CalculatorBonusInput__title {
  margin-bottom: 8px;
  max-width: 280px;
}

@media (min-width: 768px) {
  .CalculatorBonusInput__title {
    max-width: 100%;
  }
}

.CalculatorBonusInput__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 18px;
  position: relative;
}

.CalculatorBonusInput__input {
  width: 100%;
  padding: 16px 138px 16px 16px;
  border: 1px solid #C6C6C6;
  border-radius: 12px;
  height: 56px;
  transition: 0.4s;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  background-color: #fff;
  font-family: 'SourceSansProBold', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: -16px;
}

.CalculatorBonusInput__input:focus,
.CalculatorBonusInput__input:active,
.CalculatorBonusInput__input:hover {
  border: 2px solid rgb(82, 174, 48);
  background: #fff;
}

.CalculatorBonusInput__bonus-info {
  position: absolute;
  top: 16px;
  right: 16px;
}

.CalculatorBonusInput__bonus-info__text {
  font-family: 'SourceSansPro', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #494949;
}
