.CalculatorThump {
  background-color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  position: relative;
  z-index: 2;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.17);
}

.CalculatorThump:before {
  content: '';
  width: 13px;
  height: 13px;
  background-color: #52AE30;
  border-radius: 50%;
}