.Footer {
  background: #EFF2F9;
}

.Footer__top {
  padding: 26px 0;
}

@media (min-width: 768px) {
  .Footer__top {
    padding: 0;
  }
}

.Footer__bottom {
  font-family: 'SourceSansPro', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #52AE30;
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
}

.Footer__bottom__wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

@media (min-width: 768px) {
  .Footer__bottom__wrapper {
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 120px;
  }
}

.Footer__bottom__img {
  width: 112px;
}

.Footer__bottom__text {
  margin-bottom: 8px;
  margin-top: 24px;
}

@media (min-width: 768px) {
  .Footer__bottom__text {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.FooterMenu {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #E2E6F0;
}

@media (min-width: 768px) {
  .FooterMenu {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.FooterMenu__item {
  margin-bottom: 8px;
}

.FooterMenu__item:last-child {
  margin-bottom: 0;
}

.FooterMenu__item:last-child .FooterMenu__item__link {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .FooterMenu__item {
    margin-bottom: 0;
  }

  .FooterMenu__item:last-child .FooterMenu__item__link {
    padding-bottom: 32px;
  }
}

.FooterMenu__item__link {
  font-family: 'SourceSansProBold', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #1B1F27;
  padding: 0 0 8px;
  display: block;
  transition: 0.4s;
}

.FooterMenu__item__link:hover {
  color: #428B26;
}

@media (min-width: 768px) {
  .FooterMenu__item__link {
    padding: 32px 0;
  }
}

.Contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.Contact__title {
  font-family: 'SourceSansProBold', sans-serif;
  font-weight: bold;
  color: #1B1F27;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 16px;
}

.Contact__link {
  font-family: 'SourceSansProBold', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #1B1F27;
  line-height: 32px;
  margin-bottom: 4px;
  align-self: baseline;
}

.Contact__link:last-child {
  margin-bottom: 0;
}

.Footer__middle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 26px;
  flex-direction: column;
}

@media (min-width: 768px) {
  .Footer__middle {
    flex-direction: row;
    padding: 32px 0;
  }
}

.Footer__middle__left {
  margin-bottom: 52px;
}

@media (min-width: 768px) {
  .Footer__middle__left {
    margin-bottom: 0;
  }
}

.Footer__middle__mobile-app {

}

.Footer__middle__mobile-app__title {
  font-family: 'SourceSansProBold', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 16px;
}

.Footer__middle__mobile-app__img {
  height: 50px;
  width: 167px;
}

.Footer__middle__mobile-app__block img:first-child {
  margin-right: 8px;
}

.SocialNetwork__list {
  display: flex;
}

.SocialNetwork__item__link {
  display: flex;
  padding-right: 10px;
  width: 22px;
  height: 22px;
  align-items: center;
  justify-content: center;
}

.SocialNetwork__item__link__img {
  width: 20px;
  height: 20px;
}
