@font-face {
    font-family: 'SquadExtraBold';
    font-style: normal;
    src: url('./assets/fonts/Squad-ExtraBold.ttf');
}

@font-face {
    font-family: 'SourceSansProBold';
    font-style: normal;
    src: url('./assets/fonts/SourceSansPro-Bold.ttf');
}