body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.active {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, p, a, ul, button {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: sans-serif;
  font-size: 28px;
  line-height: 36px;
  color: #000000;
}

@media (min-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 48px;
  }
}

ul {
  list-style-type: none;
}

button {
  border: none;
}

button:hover,
button:active,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

input:hover,
input:focus,
input:active {
  outline: none;
}

img {
  vertical-align: bottom;
}

.container {
  max-width: 1150px;
  padding: 0 16px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 16px;
  }
}

.title-h2 {
  font-family: 'SquadExtraBold', sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 32px;
  line-height: 40px;
}

@media (min-width: 1600px) {
  .title-h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
  }
}

.title-h3 {
  font-family: 'SquadExtraBold', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.btn {
  font-family: 'SourceSansProBold', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 32px;
  padding: 0 40px;
  cursor: pointer;
  transition: 0.4s;
}

@media (min-width: 1200px) {
  .btn {
    height: 56px;
  }
}

@media (min-width: 1600px) {
  .btn {
    font-size: 20px;
    line-height: 28px;
  }
}

.btn--green {
  background-color: #52AE30;
}

.btn--green:hover {
  background-color: #6ECD4A;
}

.btn--orange {
  background-color: #FF6600;
}

.btn--orange:hover {
  background-color: #FF802B;
}

.btn--opacity {
  background-color: rgba(0,0,0,0);
  border: 2px solid #fff;
}

.btn--opacity:hover {
  border: 2px solid #FF802B;
  background: #FF802B;
}

.btn--disabled {
  background-color: #B8B8B8;
}

.btn--small {
  height: 36px;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .btn-small {
    height: 48px;
    font-size: 16px;
    line-height: 24px;
  }
}

.inline {
  display: inline-block;
}